* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz {
  border: 3px solid #000;
  width: 50%;
  background-color: rgb(252, 230, 200);
}
.quiz-title {
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.quiz-title h1 {
  font-size: 36px;
  font-weight: 500;
}
.quiz-help {
  border-bottom: 1px solid #000;
  padding: 2rem 1rem;
}
.quiz-help_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.quiz-begin {
  padding: 1rem;
}
.quiz-begin h1 {
  margin-bottom: 1rem;
}
.help-content {
  display: none;
}
.quiz-container {
  display: none;
  padding: 1rem;
}
.btn {
  height: 3rem;
  width: 6rem;
  border: 1px solid black;
  outline: none;
  background-color: rgb(184, 184, 184);
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.btn:active {
  font-size: 19px;
}
ul li {
  margin-left: 2rem;
  list-style-type: none;
  font-size: 22px;
  margin-bottom: 0.5rem;
  padding: 1rem;
  cursor: pointer;
  border-radius: 3px;
}
ul li:last-child {
  margin-bottom: 1rem;
}
.question {
  margin: 1rem;
  text-align: justify;
}
.answer {
  display: inline-block;
}
.grey {
  background-color: rgba(0, 0, 0, 0.152);
}
.next {
  display: none;
}
.wrong {
  color: red;
  display: none;
}
.correct {
  display: none;
  color: rgb(0, 179, 0);
}
.count {
  display: none;
}
.active {
  display: block;
}
.text {
  margin-bottom: 1rem;
}
